<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shopping List</title>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/index.css">
  </head>
  <body ng-app="shoppingList" ng-controller="shoppingListCtrl">
    <header>
      <h1>My Shopping List</h1>
    </header>
    
    <section>
      <div class="st-content">
        <ul>
          <li ng-repeat="iten in itemList track by $index" ng-if="iten.boolean == false">
            <span>{{ iten.nameIten }}</span>
            <div>
              <button ng-click="iBought(iten)" class="button-succes">
                <i class="material-icons">
                  add_shopping_cart
                </i>
              </button>
              <button ng-click="removeIten($index)" class="button-danger">
                <i class="material-icons">
                  delete
                </i>
              </button>
            </div>
          </li>
          <li ng-repeat="iten in itemList track by $index" ng-if="iten.boolean == true">
            <span>{{ iten.nameIten }}</span>
            <div>
              <button ng-click="iDidNotBuy(iten)">
                <i class="material-icons">
                  remove_shopping_cart
                </i>
              </button>
              <button ng-click="removeIten($index)" class="button-danger">
                <i class="material-icons">
                  delete
                </i>
              </button>
            </div>
          </li>
        </ul>
  
        <button ng-click="clearList()" class="btn-default clear-list" ng-if="itemList.length > 0">
          <i class="material-icons">
            clear_all
          </i>
          <span>limpar lista</span>
        </button>
      </div>
    </section>
  
    <footer>
      <div class="div-input">
        <input type="text" name="iten" ng-model="nameIten" class="input-nema-iten">
        <button ng-click="addItens()" class="btn-succes">
          <i class="material-icons">
            add
          </i>
          <span>Add</span>
        </button>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="assets/js/shoppingListCtrl.js"></script>
  </body>
</html>